* {
  margin: 0;
  padding: 0;
  font-family: verdana;
  color: white;
}

.navbar {
  background-color: #0275d8;
}

.container {
  width: 1140px;
  height: 60px;
  margin: auto;
}

.brand-name {
  font-size: 28px;
  float: left;
  line-height: 60px;
}

.list {
  float: right;
}

.list li {
  display: inline-block;
  font-size: 16px;
  padding: 0px 16px;
  line-height: 60px;
  cursor: pointer;
}

/* contact form */
.form-container{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 55%;
    width: 300px;
    height: auto;
    padding: 48px 60px;
    border: 1px solid #636363;
    border-radius: 8px;
}

h1{
    color: #636363;
}

p{
    margin-top: 8px;
    color: #636363;
}

form{
    margin-top: 20px;
    padding-right: 7px;
}

label{
    color: #636363;
    position: relative;
    top: 4px;
}

input{
    width: 100%;
    height: 32px;
    padding-left: 5px;
    margin: 12px 0px;
    border: 1px solid #636363;
    color: black;
}

textarea{
    width: 100%;
    padding-left: 5px;
    margin: 12px 0px;
    border: 1px solid #636363;
    color: black;
    padding-top: 5px;
}

input:focus ,textarea:focus{
    outline: none;
}

.submit{
    width: 102.5%;
    height: 32px;
    background: #0275d8;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}


